*
{
    box-sizing: border-box;
}
body{
    
    margin: 0;
}
.container
{
    display: flex;
}
.row1
{
    background-color: black;
    height: 969px;
    width: 245px;
    
    
}
.col1
{
    display: block;
    width: 245px;
    height:300px;
}
.col1 img
{
    display: block;
    margin: auto auto auto auto;
    padding-top: 50px;
    width: 80%;
}
.col2
{
    width: 245px;
    height: 469px;
}
.col2 ul
{
    display: block;
    padding-top: 25%;
    padding-bottom: 50%;
}
.col2 ul li a
{
    display: block;
    text-align: justify;
    font-size: 25px;
    margin-bottom: 90px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}
.col2 ul li a:hover,#active
{
    color: #ba141b;
    font-size: 30px;
}

.col3
{
    display: block;
    width: 245px;
    height: 200px;
}
.row2
{
    height: 969px;
    width: 1658px;
    background-color:#fffefe;
    padding: 100px 100px 100px 100px;
}
.row2 a
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}
.row2 a
{
    color: black;
}
.col4
{
    margin: auto;
    height: 600px;
    width: 500px;
    background-color: black;
    border-radius: 30px;
    box-shadow: 10px 10px 15px grey;
}
form
{
  text-align: center;
  
}
form input
{
  position: relative;
  top: 50px;
  width: 300px;
  margin-top: 40px;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 5px 5px 8px rgb(228, 15, 15);
  border: none;
  outline: none;
  font-size: 15px;
  text-align: center;
  outline: none;
}
::placeholder
{
    color: grey;
    text-align: center;
    
}
button{
    position: relative;
    top: 90px;
    left: 190px;
    outline: none;
    padding: 15px 40px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px grey;
    border: none;
    font-weight: bolder;
    
}
button:hover
{
    background-color: #ba141b;
    color: #fffefe;
}
.footer
{
    background-color: black;
    width: 100%;
    height: 100px;
    /* border-top: 5px solid #ba141b; */
    color: white;
    text-align: center;   
}
#sub a,#sub
{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
}
#sub a:hover
{
    color: #ba141b;
}
